ul{
    list-style-type: none;

  }

  img{
    float: left;
    
  }

  li{
  display: inline;
  }

  .information{
    left: 405px;
    width: 382px;
    bottom: 213px;
    position: fixed;
  }
  .nsns{
    bottom: 96px;
    left: 409px;
    position: fixed;
    width: 612px;
  }
  
  
  .inico{
    position: relative;
    left: 238px;
    
  }
 
  .dos{
    position: relative;
    left: 141px;
  }
  
  .list{position: relative;
    }
   
  .tres{
    position: relative;
    left: 6px;
    font-size: 38px;
    bottom: 30px;
  }

 h1{font-family: calibri;}
  
  .tituls{
    font-size: 35px;
  }
  
  