<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NorCal Time Trial Series</title>
    <link rel="stylesheet" href="../asset/media/LOGO.png" type="img/css">
    <link rel="stylesheet" href="../asset/styles/style.css" type="text/css">
</head>
<body>
    <div class="inico">
        <img src="../asset/media/LOGO.png" height="150" width="150">
        <div class="tituls">
            <h1>NorCal Time Trial Series</h1>
            <div class="tres">
            <section>
                <nav>
                    <ul> 
                        <li> <a href="home.html">Home</a> |</li>
                        <li> <a href="about.html">About</a> |</li>
                        <li> <a href="contact.html">Contact</a></li>
                    </ul>
       
                </nav>   
            </section>
            </div>
        </div>
    </div>
    <div class="poc">
        <img src="../asset/media/coche.png" width="250" height="200">
        <div class="information">
            <div class="casa">
                <h1>Upcoming Events</h1>
            </div>
                <p>February 12 </p>
                <p>&nbsp&nbsp&nbsp&nbsp Board Meeting</p>
                <p>February 25 </p>
                <p>&nbsp&nbsp&nbsp&nbsp Drivers Zoom Meeting</p>
                <p>March 12 </p>
                <p>&nbsp First Event at Thunderhill!</p>
                
        </div>
      
    </div>
</body>
</html>
